@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}

body {
  margin: 0;
}

.index-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-item-container {
  display: flex;
  padding-top: 45px;
  padding-bottom: 80px;
  flex: 2;
  justify-content: center;
}

.wordmark {
  width: 158px;
  height: 54px;
  image-rendering: -webkit-optimize-contrast;
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.intro-mockup {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  padding-right: 40px;
  image-rendering: -webkit-optimize-contrast;
}

.intro-mockup-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 3;
}

.intro-text-container {
  margin-top: -70px;
  flex: 3;
}

.intro-title {
  background-image: linear-gradient(180deg, #2393fb 0%, #4c61fd 99.99%, rgba(77, 95, 253, 0) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 105%;
  /* or 50px */
  padding-left: 50px;
}

.intro-text {
  font-family: "Poppins SemiBold";
  font-size: 25px;
  align-items: center;
  line-height: 30px;
  color: #8a8a8a;
  word-wrap: normal;
  padding-left: 50px;
  margin-top: 10px;
}

.intro-wave-container {
  height: auto;
  overflow: hidden;
}

.intro-wave {
  width: 110%;
  position: relative;
  right: 2%;
}

.value-wave-container {
  height: auto;
  overflow: hidden;
}

.value-wave {
  width: 110%;
  position: relative;
  right: 2%;
}

.scan-wave-container {
  height: auto;
  overflow: hidden;
  margin-bottom: -6px;
  margin-top: -6px;
  width: 100%;
}

.scan-wave {
  position: relative;
}

.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  margin-top: -5px;
}

.demo-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo-text-title {
  font-family: "Poppins Bold";
  font-size: 80px;
  align-items: center;
  color: #ffffff;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.demo-text-subtitle {
  font-family: "Poppins Bold";
  font-size: 24px;
  align-items: center;
  color: #ffffff;
  margin-top: -20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.demo-review-text {
  color: #ffffff;
}

.demo-scan-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.demo-scan-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  image-rendering: -webkit-optimize-contrast;
}

.demo-scan-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transform: rotate(3.1deg);
}

.review-scan-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transform: rotate(-3.1deg);
}

.value-props-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-coastr-text {
  font-family: "Poppins Bold";
  font-weight: bold;
  font-size: 70px;
  line-height: 139.5%;
  margin: 100px 0 30px 0;
  color: #323232;
}

.value-prop-container {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
}

.value-prop-number {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  /* line-height: 139.5%; */
  height: 70px;

  /* margin: 0 51px 0 0; */
  width: 70px;
  line-height: 54px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 8px solid;
  border-color: #2393fb;

  background-color: #2393fb;
  background-image: linear-gradient(180deg, #2393fb 0%, #4c61fd 99.99%, rgba(77, 95, 253, 0) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
}

.value-props-list-container {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.value-prop-text-container {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  /* padding: 35px 0 35px; */
  padding-top: 35px;
  padding-bottom: 35px;
}

.value-prop-title {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 139.5%;
  color: #323232;
}

@media (min-width: 992px) {
  .value-prop-title {
    white-space: nowrap !important;
  }
}

.value-prop-description {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 139.5%;
  /* identical to box height, or 45px */

  color: #8a8a8a;
}

.footer-social-icon {
  margin: 10px;
}

.footer-social-links {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.footer-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.footer-contact-button {
  font-family: "Poppins SemiBold";
  text-decoration: none;
  width: 193px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 15px;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, #2393fb 0%, #4c61fd 99.99%, rgba(77, 95, 253, 0) 100%);
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
  border-radius: 65px;
  white-space: nowrap;
}

.footer-contact-button:hover {
  color: #ffffff;
  background: linear-gradient(180deg, #197edd 0%, #384de6 99.99%, rgba(77, 95, 253, 0) 100%);
}

.footer-contact-text {
  font-family: "Poppins Bold";
  padding: 30px;
  color: #8a8a8a;
  white-space: nowrap;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.footer-text-copyright {
  font-family: "Poppins Bold";
  padding: 20px;
  color: #454545;
  justify-content: space-evenly;
  align-items: cente;
  display: flex;
  white-space: nowrap;
}

.fa-facebook {
  color: #4071fa;
}

.fa-facebook:hover {
  color: #2b5de7;
}

.fa-twitter {
  color: #4071fa;
}

.fa-twitter:hover {
  color: #2b5de7;
}

.fa-instagram {
  color: #4071fa;
}

.fa-twitter:hover {
  color: #2b5de7;
}

.fa-linkedin {
  color: #4071fa;
}

.fa-linkedin:hover {
  color: #2b5de7;
}

.fa-youtube {
  color: #4071fa;
}

.fa-youtube:hover {
  color: #2b5de7;
}

.fa-tiktok {
  color: #4071fa;
}

.fa-tiktok:hover {
  color: #2b5de7;
}

.fa-reddit {
  color: #4071fa;
}

.fa-reddit:hover {
  color: #2b5de7;
}

.fa-envelope {
  color: #4071fa;
}

.fa-envelope:hover {
  color: #2b5de7;
}
